
}
body {
  font-family: 'Alegreya', sans-serif;
  padding: 0;
  margin: 0;
}
header {
  font-family: 'Alegreya', sans-serif;
  background-color: #52637B;
  text-align: center;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
}
h1 {
  letter-spacing: 7px;
  font-size: 4em;
  font-family: 'Lora', serif;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: white;
  margin-left: 22%;
  margin-right: 22%;
  margin-bottom: 1%;
}
.column {
  float: left;
}
#nav {
  font-family: 'Alegreya', sans-serif;
  margin-left: 6%;
  width: 15%;
  padding-right: 3%;
}
#mainContent {
  font-family: 'Alegreya', sans-serif;
  width: 50%;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #52637B;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #52637B;
  padding-left: 1%;
}
#image1 {
  float: right;
  padding-left: 1%;
  padding-right: 1%;
}
#rightSidebar {
  font-family: 'Alegreya', sans-serif;
  width: 17%;
  padding-left: .5%;
}
a {
  color: #52637B;
}
#smallRuler {
  clear: both;
  width: 2000px;
}

#bigRuler {
  clear: both;
  width: 2000px;
}

.bigSegment {
  width: 99px;
  float: left;
  box-sizing: border-box;
  border-right: 1px solid black;
  font-size: x-small;
  height: 30px;
}
.ruledSegment {
  width: 9px;
  float: left;
  box-sizing: border-box;
  border-right: 1px solid black;
  font-size: xx-small;
  height: 30px;
}

.instructions {
  background-color: #F0F0D8;
  padding: .2em;
  margin: 1em;
  border-radius: .25em;
  clear: both;
}

.exercise {
  background-color: #f0f0f4;
  clear: both;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.example1 {
  background-color: #d70044;
  color: #fad42b;
}

.example2 {
  background-color: #5f1130;
  color: #fad42b;
}

h1.instructions {
  background-color: #d70044;
  color: #fad42b;
  margin:0;
  border-radius: 0;
  padding-left: .5em;
}
